.breadcrumbs-container .breadcrumb
  background-color white
  & a
    text-decoration none
    color #2f50d5
.breadcrumb > li + li:before
  content ">"
  color #2f50d5
.Filtros-container .list-group-item.active
  background-color #2f50d5
  border-color #2f50d5
  &:hover
    background-color #2f50d5
    border-color #2f50d5
.ListGenero
  padding 0 0 0 1em
  &:hover
    background-color #eee
.Productos-container
  background-color white
.filtros-toggle
  margin-top -17px
