.Carousel-container-scroll
  margin-left 0
  margin-right 0
.Carousel-padding
  padding-left 0
  padding-right 0
.InfoContainer
  padding-top 1em
  background #2F50D5
.InfoContainer h4
  font-weight bold
  margin 1em 0
  color #FFF
.TitleAnimated
  font-size 60px
  text-transform uppercase
.Title-caption-carousel h3:first-child
  animation-delay 1s
.Title-caption-carousel h3:nth-child(2)
  animation-delay 2s
.Title-caption-carousel
  bottom 37% !important
  width 75%
  left 12.8%
